<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> - chat UI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/script.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/bulma.css">

    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css"> -->

    <style>
        body {
            /* The image used */
            background-image: url(static/images/bg1.png);
            background-repeat: no-repeat;
            background-size: 100%;
            height: 300vh;
        }
        
        #chatBox {
            position: fixed;
        }
    </style>


</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="chatApp">

        <div class="chatBox" id="chatBox">
            <div class="card">

                <header class="card-header header-title noselect" onclick="toggleChat()">
                    <p class="card-header-title">
                        <i class="fa fa-circle is-online"></i><img src="static/images/user-icon.png" style="width: 30px;">&nbsp;Mega Cloud
                    </p>
                    <a class="card-header-icon">
                        <span class="icon">
                            <i class="fa fa-close"></i>
                        </span>
                    </a>
                </header>
                <div id="chatbox-area">
                    <div class="card-content chat-content" id="scrol_id">
                        <div class="content" id="chat_content">
                        </div>
                    </div>
                    <footer class="card-footer" id="chatBox-textbox">
                        <div style="width: 80%">
                            <form id="user-input-form">
                                <input id="chatinput" class="chat-textarea" name="user_query1" autocomplete="off" placeholder="Enter your query here">
                            </form>
                        </div>
                        <div class="has-text-centered" style="width: 20%">
                            <a class="button" style="height: 100%;" onclick="chat_function()">
                            Enter
                            </a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <div class="emojiBox" style="display: none">
            <div class="box">

            </div>
        </div>

    </div>
    <!-- partial -->

</body>

</html>